*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'poppins', sans-serif;}
.students_body
{
    background: #081b29;
}
.login-page
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}
.wrapper
{
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #0ef;
    overflow: hidden;
    box-shadow: 0 0 25px #0ef;
    margin-top: -50px;
}
.wrapper .form-box
{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper .form-box.login
{
    left: 0;
    padding: 0 60px 0 40px;
}
.wrapper .form-box.login .animation
{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
}
.wrapper.active .form-box.login .animation
{
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}
.wrapper .form-box.register
{
    right: 0;
    padding: 0 40px 0 60px;
}
.wrapper .form-box.register .animation
{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
}
.wrapper.active .form-box.register .animation
{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s *var(--i));
}
.form-box h2
{
    font-size: 32px;
    color: white;
    text-align: center;
}
.form-box .input_box
{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}
.input_box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    padding-right: 23px;
    transition: .5s;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}
.input_box input:focus,
.input_box input:valid
{
    border-bottom-color: #0ef;
}
.input_box label
{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;
}
.input_box input:focus~label,
.input_box input:valid~label
{
    top: -5px;
    color: #0ef;
}

.input_box i
{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    transition: .5s;
}
.input_box input:focus~i,
.input_box input:valid~i
{
    color: #0ef;
}
.btn
{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
}
.btn::before
{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    transition: .5s;
}
.btn:hover::before
{
    top: 0;
}
.form-box .logreg-link
{
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}
.logreg-link p a 
{
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
}
.logreg-link p a:hover
{
    text-decoration: underline;
}
.wrapper .info-text
{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper .info-text.login
{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}
.wrapper .info-text.login .animation
{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
}
.wrapper.active .info-text.login .animation
{
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}
.info-text.register
{
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}
.info-text.register .animation
{
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
}
.wrapper.active.info-text.register .animation
{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
}
.info-text h2
{
    font-size: 36px;
    color: #fff;
    line-height: 1.3;
}
.info-text p
{
    font-size: 16px;
    color: #fff;
}
.wrapper .bg-animate
{
    position: absolute;
    top: -4;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, #081b29, #0ef);
    border-bottom: 3px solid #0ef;
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
}
.wrapper.active .bg-animate
{
    transform: rotate(0) skewY(0);
    transition-delay: 0.5s;
}
.wrapper .bg-animate2
{
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #081b29;
    border-top: 3px solid #0ef;
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 1.5s ease;
}
.wrapper.active .bg-animate2
{
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}
.logo_x
{
    margin-top: none;
    margin-bottom: none;
    margin-right: 5%;
    opacity: 0.5;
    padding: cover;
    border: none;
    border-radius: none;
}